
<div class="container">
  <form *ngIf="formAddBook" [formGroup]="formAddBook" (ngSubmit)="submit()" class="form-group">
    Thêm mới sách
    <div class="form-group">
      Tên:
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      Tác giả:
      <input type="text" class="form-control" formControlName="author">
    </div>
    <div class="form-group">
      Mô tả:
      <input type="text" class="form-control" formControlName="description">
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="submit">Submit</button>
    </div>
  </form>
</div>
